<html>
<head>
    <style>
        .application_exist{
            width: 50px;
            height: 50px;
            background-color: green;
        }
        .application_pass{
            width: 50px;
            height: 50px;
            background-color: red;
        }
        a{ display: block; }
    </style>
</head>

<body>

<a href="{% url 'common:Stulist' %}">【文字版】</a>

<h1>table</h1>
    <table>
        <tr>
        {% for date in table.date %}
        {{ date }}
        {% endfor %}
        </tr>
        {% for place, apps_every_week in table.content %}
        <tr>
            <td>{{ place }}</td>
            {% for apps_every_day in apps_every_week %}
                {% for app in apps_every_day %}
                    <td> 
                    {% if app %}
                        <div class="application_pass">
                        {{ app.activity }}
                        {{ app.pk }}
                        </div>
                    {% else %}
                        <div class="application_exist">
                        </div>
                    {% endif %}
                    </td> 
                {% endfor %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>